%li.wll.commit
  .right.span2
    %div{:class => "links-#{commit.id}"}
      = render "links", :commit => commit
  = link_to github_commit_url(@repository, commit.sha) do
    %p
      %code.left= commit.sha[0..10]
      %strong.cgray= commit.author_name
      &ndash;
      = image_tag gravatar_icon(commit.author_email), :class => "avatar", :width => 16
      %span.row_title= truncate(commit.message, :length => 50)
      %span.right.cgray
        = time_ago_in_words(commit.committed_at)
        ago
        &nbsp;
    %div{:class => "reviewer-#{commit.id}"}
      - if commit.status != Commit::Status::OPEN
        = render 'reviewer', :commit => commit
  .clearfix
