- content_for :side_bar do
  %ul.nav.nav-list
    - @repository.stats_per_week.each do |stat|
      %li
        = "Week #{stat[0]}"
        %span.label= stat[1][:open]
        - if stat[1][:reviewing]
          %span.label.label-warning= stat[1][:reviewing]
        - if stat[1][:closed]
          %span.label.label-success= stat[1][:closed]

.page-header
  %h1
    = @repository.name
    %small
      %span
        Last synced at
        = @repository.last_synced_at ? l(@repository.synced_at, format: :short) : "never"
        = link_to "Sync", repository_sync_path(@repository), class: "btn btn-mini"
  .right= link_to "Delete repo", repository_path(@repository), method: :delete, confirm: "Are you sure?", class: "btn btn-large btn-danger"

= form_tag repository_commits_path(@repository), method: :get do
  = select_tag :status, options_for_select(Commit::Status::ALL, session[:commit_filter]), include_blank: true, style: "width: 100px"
  = button_tag "Filter", class: "btn btn-mini"

#commits_list
  - @commits.group_by { |c| c.committed_at.to_date }.each do |day, commits|
    %div.ui-box
      %h5= day
      %ul.unstyled= render commits

= paginate @commits
